@font-face {
  font-family: e-UkraineHead;
  font-display: swap;
  src: url(../fonts/e-UkraineHead-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: e-UkraineHead;
  font-display: swap;
  src: url(../fonts/e-UkraineHead-Bold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal
}
@font-face {
  font-family: e-UkraineHead;
  font-display: swap;
  src: url(../fonts/e-UkraineHead-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
:root {
  --font-family: "e-UkraineHead",sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 800;
  --font-size-mobile: 14px;
  --font-size-desktop: 16px;
  --main-color: #374349;
  --white-color: #fff;
  --dark-color: #1a1919;
  --acent-color: #233efb
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size-mobile);
  font-weight: var(--font-weight-light);
  color: var(--main-color);
  line-height: 145%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
body {
  background-color: #f6f9ff
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto
}
.form {
  position: relative
}
.form._form-error .form__btn {
  pointer-events: none
}
.form._sending::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--dark-color);
  opacity: .5;
  border-radius: 12px;
  z-index: 10
}
.form._sending::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  background-color: transparent;
  border-radius: 50%;
  border-top: 4px solid var(--acent-color);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  z-index: 11
}
.form__row {
  position: relative;
  margin-bottom: 20px
}
.form__row:last-child {
  margin-bottom: 0
}
.form__input {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  outline: 0;
  color: #000
}
.form__input::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 170%;
  font-weight: 300;
  color: #080c0e
}
.form__input:-ms-input-placeholder {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 170%;
  font-weight: 300;
  color: #080c0e
}
.form__input::-ms-input-placeholder {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 170%;
  font-weight: 300;
  color: #080c0e
}
.form__input::placeholder {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 170%;
  font-weight: 300;
  color: #080c0e
}
.form__btn {
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  transition: all .3s;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 14px;
  background-color: var(--acent-color);
  width: 100%
}
.form__btn:hover {
  color: var(--acent-color);
  background-color: transparent;
  border: 1px solid var(--acent-color)
}
.form__error {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 12px;
  line-height: 120%;
  color: red;
  padding-top: 4px
}
.form-hero {
  position: initial
}
.form-consult._sending::before {
  background-color: #fff
}
.form-consult .form__input {
  color: #fff;
  border-color: #fff
}
.form-consult .form__input::-webkit-input-placeholder {
  color: #fff
}
.form-consult .form__input:-ms-input-placeholder {
  color: #fff
}
.form-consult .form__input::-ms-input-placeholder {
  color: #fff
}
.form-consult .form__input::placeholder {
  color: #fff
}
.form-consult .form__btn {
  color: var(--acent-color);
  background-color: #fff
}
.form-consult .form__btn:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input._form-error {
  border-color: red
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.form-message__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 30px
}
.form-message__text {
  font-size: 16px;
  line-height: 130%
}
.form-message .popup__content {
  position: relative;
  max-width: 720px;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}
.form-message .popup__close {
  position: absolute;
  top: 20px;
  right: 20px
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.section {
  position: relative
}
.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase
}
.title-sm {
  font-size: 20px;
  line-height: 130%
}
.main-policy {
  padding: 30px 0 60px 0
}
.main-policy h1 {
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px
}
.main-policy h2 {
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 20px
}
.main-policy p:not(:last-child) {
  margin-bottom: 20px
}
.preolad {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center
}
.preolad-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75px;
  height: 75px;
  background-color: transparent;
  z-index: 100;
  border-radius: 50%;
  border-top: 4px solid var(--acent-color);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%,-50%) rotate(0);
    transform: translate(-50%,-50%) rotate(0)
  }
  100% {
    -webkit-transform: translate(-50%,-50%) rotate(360deg);
    transform: translate(-50%,-50%) rotate(360deg)
  }
}
@keyframes spin {
  0% {
    -webkit-transform: translate(-50%,-50%) rotate(0);
    transform: translate(-50%,-50%) rotate(0)
  }
  100% {
    -webkit-transform: translate(-50%,-50%) rotate(360deg);
    transform: translate(-50%,-50%) rotate(360deg)
  }
}
.btn-up {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(35,62,254,.4);
  transition: all .4s;
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0
}
.btn-up.visible {
  opacity: 1
}
.btn-up:hover {
  background-color: var(--acent-color)
}
.btn-up:hover svg {
  fill: #fff;
  transition: all .4s
}
.btn-up svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 25%;
  fill: var(--acent-color)
}
.header {
  padding: 10px 20px;
  transition: all .5s
}
.header._header-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px
}
.header__logo {
  width: 100%;
  max-width: 115px;
  position: relative;
  z-index: 101
}
.header__contacts {
  display: flex;
  flex-direction: column;
  gap: 4px
}
.header__contacts span {
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-color)
}
.header__contacts a {
  font-family: var(--font-family);
  font-size: 22px;
  line-height: 110%;
  font-weight: 700;
  text-transform: uppercase;
  color: #233efb
}
.menu__link {
  font-size: 16px;
  color: var(--dark-color);
  line-height: 150%;
  transition: color .5s;
  position: relative
}
.social {
  display: flex;
  align-items: center;
  gap: 15px
}
.social__item {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: var(--acent-color);
  display: flex;
  align-items: center;
  justify-content: center
}
.social__item svg {
  fill: #fff
}
.social__item:nth-child(3) svg {
  align-self: flex-end
}
.icon-menu {
  display: none
}
.footer {
  padding: 30px 20px;
  background-color: var(--acent-color);
  color: #fff
}
.footer__logo {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  max-width: 190px;
  margin-bottom: 30px
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 18px;
  line-height: 109%;
  text-align: center
}
.footer__navigation-item {
  text-align: center
}
.footer__navigation-link {
  position: relative;
  font-size: 16px;
  color: #fff
}
.footer__navigation-link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width .5s
}
.footer__navigation-link:hover::before {
  width: 100%
}
.footer__social .social__item {
  background-color: #fff
}
.footer__social .social__item svg {
  fill: var(--acent-color)
}
.footer__policy {
  text-align: center
}
.footer__policy a {
  font-size: 13px;
  line-height: 185%;
  text-decoration: underline
}
.hero {
  padding: 40px 20px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-image: url(../img/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%
}
.hero__text {
  text-wrap: balance
}
.hero__title {
  color: #fff;
  text-wrap: balance;
  max-width: 686px;
  margin-bottom: 20px
}
.hero__subtitle {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: #fff
}
.offer-hero__block {
  position: relative;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,.65);
  padding: 20px 10px
}
.offer-hero__block:not(:last-child) {
  margin-bottom: 20px
}
.offer-hero__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -75px;
  margin-bottom: 20px;
  -webkit-animation: offer_rotate 20s linear infinite;
  animation: offer_rotate 20s linear infinite
}
.offer-hero__group {
  margin-bottom: 20px
}
.offer-hero__group:last-child {
  margin-bottom: 0
}
.offer-hero__title {
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px
}
.offer-hero__text {
  color: #0e2349
}
@-webkit-keyframes offer_rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes offer_rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.promo {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  padding: 30px 20px;
  background-color: var(--acent-color);
  border-radius: 12px;
  color: #fff
}
.promo__title {
  font-size: 25px;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px
}
.services {
  margin-bottom: 60px
}
.services__title {
  margin-bottom: 20px
}
.services__text {
  margin-bottom: 20px
}
.services__text p:first-child {
  font-size: 16px;
  line-height: 130%;
  color: var(--dark-color)
}
.item-services {
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(35,62,254,.1);
  padding: 10px
}
.item-services__img {
  position: relative;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px
}
.item-services__img img {
  width: 100%;
  border-radius: 10px
}
.item-services__icon {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--acent-color);
  display: flex;
  align-items: center;
  justify-content: center
}
.item-services__icon object {
  width: 50%
}
.item-services__body {
  padding: 0 10px 20px 10px
}
.item-services__title {
  font-size: 16px;
  line-height: 110%;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-bottom: 15px
}
.recovery {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  padding: 40px 0;
  background-color: var(--acent-color);
  border-radius: 10px;
  color: #fff;
  background-image: url(../img/recovery-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.recovery__title {
  margin-bottom: 25px
}
.recovery__text {
  max-width: 560px
}
.recovery__item {
  border-radius: 10px;
  margin-bottom: 20px
}
.recovery__item:last-child {
  margin-bottom: 0
}
.recovery__item img {
  border-radius: 10px
}
.training {
  margin-bottom: 60px
}
.training__video {
  position: relative;
  padding-bottom: 58%;
  border-radius: 10px
}
.training__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px
}
.problems {
  margin-bottom: 60px
}
.problems__title {
  margin-bottom: 30px
}
.item-problem {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--dark-color);
  margin-bottom: 30px
}
.item-problem:last-child {
  margin-bottom: 0
}
.item-problem__info {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  flex-shrink: 0;
  max-width: 325px;
  margin-bottom: 15px
}
.item-problem__icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--acent-color);
  display: flex;
  align-items: center;
  justify-content: center
}
.item-problem__icon object {
  width: 50%
}
.item-problem__name {
  font-size: 18px;
  line-height: 110%;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark-color)
}
.item-problem__description p {
  margin-bottom: 20px
}
.item-problem__btn {
  font-size: 12px;
  line-height: 130%;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--acent-color);
  border: 1px solid var(--acent-color);
  border-radius: 25px;
  transition: all .5s;
  padding: 13px 25px
}
.item-problem__btn:hover {
  color: var(--dark-color);
  border: 1px solid var(--dark-color)
}
.team {
  padding: 60px 0;
  background-color: #fff;
  margin-bottom: 60px
}
.team__title {
  margin-bottom: 30px
}
.team__slider {
  position: relative
}
.team__slide {
  border-radius: 10px
}
.team__foto img {
  border-radius: 10px 10px 0 0
}
.team__info {
  position: relative;
  background-color: var(--acent-color);
  padding: 20px 10px 40px 10px;
  border-radius: 0 0 10px 10px;
  color: #fff
}
.team__info::before {
  content: "";
  background-image: url(../img/decor-img.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  right: 40px;
  height: 100%;
  width: 158px
}
.team__name {
  font-size: 18px;
  line-height: 110%;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px
}
.team__age {
  display: inline-block;
  margin-bottom: 30px
}
.team__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px
}
.team__control-next,
.team__control-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--acent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s
}
.team__control-next svg,
.team__control-prev svg {
  width: 50%;
  height: 50%;
  fill: #fff
}
.team__control-next:disabled,
.team__control-prev:disabled {
  background-color: #7b8bfd;
  pointer-events: none
}
.team__control-next:disabled svg,
.team__control-prev:disabled svg {
  fill: #fff
}
.founder {
  margin-bottom: 60px
}
.founder__title {
  margin-bottom: 30px
}
.founder__video {
  position: relative;
  padding-bottom: 58%;
  border-radius: 10px
}
.founder__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px
}
.results {
  margin-bottom: 60px
}
.results .container {
  position: relative
}
.results__title {
  margin-bottom: 30px
}
.results__slider {
  padding: 10px;
  width: calc(100% + 20px);
  margin: 0 -10px
}
.results__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px
}
.results__control-next,
.results__control-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--acent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s
}
.results__control-next svg,
.results__control-prev svg {
  width: 50%;
  height: 50%;
  fill: #fff
}
.results__control-next:disabled,
.results__control-prev:disabled {
  background-color: #7b8bfd;
  pointer-events: none
}
.results__control-next:disabled svg,
.results__control-prev:disabled svg {
  fill: #fff
}
.item-results {
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(35,62,254,.1);
  padding: 10px
}
.item-results__foto {
  margin-bottom: 20px
}
.item-results__foto img {
  border-radius: 10px
}
.item-results__result {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -20px
}
.item-results__result span {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--acent-color);
  padding: 6px 20px;
  border-radius: 40px
}
.item-results__description {
  padding: 0 10px 30px 10px;
  color: #2b3e5f
}
.consult {
  padding: 60px 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  color: #fff;
  background-color: var(--acent-color);
  border-radius: 10px
}
.consult::before {
  content: "";
  background-image: url(../img/decor-img.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  right: 150px;
  height: 90%;
  width: 285px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg)
}
.consult__title {
  margin-bottom: 30px
}
.consult__list {
  margin-bottom: 30px
}
.consult__text {
  font-size: 16px;
  line-height: 145%;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px
}
.consult__acent {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 15px
}
.consult__acent p {
  margin-bottom: 20px
}
.consult__acent p:last-child {
  margin-bottom: 0
}
.item-consult {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 40px
}
.item-consult:last-child {
  margin-bottom: 0
}
.item-consult__icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center
}
.item-consult__icon object {
  width: 50%
}
.item-consult__title {
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px
}
.item-consult__list:not(:last-child) {
  margin-bottom: 25px
}
.item-consult__list li {
  position: relative;
  padding-left: 15px
}
.item-consult__list li:not(:last-child) {
  margin-bottom: 10px
}
.item-consult__list li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff
}
.reviews__header {
  margin-bottom: 30px
}
.reviews__video {
  position: relative;
  padding-bottom: 58%;
  border-radius: 10px
}
.reviews__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px
}
.reviews__slider {
  width: calc(100% + 40px);
  padding: 60px 0;
  margin: 0 -20px
}
.reviews__wrapper {
  margin-bottom: 55px
}
.reviews__slide {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: -2px 2px 15px 0 rgba(0,5,51,.2);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  display: flex;
  align-items: center;
  justify-content: center
}
.reviews__slide.swiper-slide-active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}
.reviews .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 13px;
  padding: 0 40px
}
.reviews .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--dark-color);
  background-color: #fff;
  transition: all .4s;
  cursor: pointer
}
.reviews .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--acent-color);
  border-color: var(--acent-color)
}
.reviews-google {
  padding: 60px 0;
  background-color: #fff;
  margin-bottom: 60px
}
.reviews-google__title {
  margin-bottom: 30px
}
.reviews-google__item {
  display: block;
  border-radius: 10px;
  box-shadow: 0 8px 20px 2px rgba(0,0,0,.07);
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s
}
.reviews-google__item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05)
}
.reviews-google__item img {
  border-radius: 10px
}
.map__header {
  margin-bottom: 30px
}
.map__text {
  max-width: 686px
}
.map__body {
  position: relative;
  padding-bottom: 58%
}
.map__body iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.price-hero {
  position: relative;
  padding: 30px 0;
  background-color: var(--acent-color);
  border-radius: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  background-image: url(../img/price-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.price-hero__title {
  color: #fff;
  text-align: center
}
.price-block,
.price-bonus,
.price-discont,
.price-img {
  margin-left: 20px;
  margin-right: 20px
}
.price-block {
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(35,62,254,.1);
  background-color: #fff;
  padding: 30px 15px;
  margin-bottom: 20px
}
.price-block span {
  font-weight: 500;
  display: block;
  min-width: 65px;
  margin-bottom: 15px
}
.price-block p {
  margin-top: 20px
}
.price-block.bg-white .price-block__title {
  color: var(--acent-color)
}
.price-block.bg-acent {
  background-color: var(--acent-color);
  color: #fff
}
.price-block.bg-acent .price-block__title {
  color: #fff
}
.price-block.bg-acent .price-block__list li {
  border-color: #fff
}
.price-block__title {
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-bottom: 15px
}
.price-block__title span {
  font-size: 16px;
  line-height: 130%;
  color: #000
}
.price-block__list li {
  position: relative;
  border-bottom: 1px solid var(--acent-color);
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px
}
.price-block__list li:first-child {
  border-top: 1px solid var(--acent-color)
}
.price-block__list li span {
  margin-bottom: 0
}
.price-block__list.list-icon li {
  justify-content: flex-start
}
.price-block__list.list-icon li::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width=%2725%27 height=%2725%27 viewBox=%270 0 25 25%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M12.4951 0C5.60556 0 9.44882e-06 5.61522 0 12.5047C1.1811e-05 19.3943 5.60556 24.9998 12.4951 24.9998C19.3847 24.9998 25 19.3943 25 12.5047C25 5.61522 19.3847 0 12.4951 0ZM18.833 6.87738C19.1249 6.89751 19.4005 7.01942 19.6118 7.22182C19.731 7.33553 19.8291 7.47171 19.8955 7.62249C19.9619 7.77326 19.9979 7.93557 20.0013 8.10029C20.0047 8.26501 19.9755 8.42887 19.9154 8.58227C19.8553 8.73568 19.7655 8.87562 19.6511 8.99419L11.2331 17.7418C11.0171 17.9659 10.7252 18.1013 10.4145 18.1216C10.1039 18.1419 9.79681 18.0455 9.55345 17.8514L5.46631 14.5678C5.20823 14.3604 5.04298 14.0591 5.00682 13.73C4.97066 13.4009 5.06654 13.0709 5.27344 12.8124C5.37622 12.6836 5.50346 12.5764 5.64784 12.497C5.79221 12.4175 5.95087 12.3674 6.11469 12.3495C6.27851 12.3316 6.44426 12.3462 6.60239 12.3926C6.76053 12.439 6.90794 12.5161 7.03613 12.6197L10.2271 15.1856L17.8516 7.2583C17.9776 7.12728 18.1307 7.02533 18.3002 6.95956C18.4698 6.8938 18.6516 6.86566 18.833 6.87738Z%27 fill=%27%23233EFB%27 /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 18px;
  height: 18px;
  flex-shrink: 0
}
.price-discont {
  margin-bottom: 30px
}
.price-discont__group span {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  color: var(--acent-color);
  margin-bottom: 20px
}
.price-discont__title {
  font-size: 18px;
  line-height: 141%;
  font-weight: 700;
  text-transform: uppercase;
  color: #1a1919;
  margin-bottom: 20px
}
.price-discont__list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
  border-bottom: 1px solid var(--acent-color)
}
.price-discont__list li::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width=%2718%27 height=%2715%27 viewBox=%270 0 18 15%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M0 7.35852C0 6.88957 0.384962 6.50948 0.859928 6.50948L14.677 6.50948L8.515 1.50494C8.30833 1.33712 8.20142 1.09373 8.20142 0.848636C8.20142 0.659017 8.26562 0.467699 8.39748 0.309777C8.69903 -0.0524807 9.24078 -0.104556 9.60797 0.193458L17.6864 6.75486C17.8833 6.91476 17.9983 7.15306 18 7.40494C17.9948 7.65965 17.8899 7.89653 17.6953 8.05927L9.61657 14.7995C9.25368 15.1021 8.71135 15.0571 8.40464 14.6991C8.09794 14.3408 8.14351 13.805 8.50611 13.5025L14.8524 8.20757L0.859928 8.20757C0.384962 8.20757 0 7.82748 0 7.35852Z%27 fill=%27%23233EFB%27 /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 18px;
  height: 15px;
  flex-shrink: 0
}
.price-img img {
  border-radius: 10px
}
.price-img .offer-hero__img {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.price-bonus {
  margin-bottom: 30px
}
.price-bonus__group {
  border-radius: 20px;
  box-shadow: 0 0 12px 0 rgba(35,62,254,.1);
  background-color: #fff;
  padding: 30px 15px
}
.price-bonus__title {
  font-size: 18px;
  line-height: 110%;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-bottom: 15px
}
.price-form {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .reviews-google__list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px
  }
  .reviews-google__item {
    flex: 0 1 calc(50% - 9px)
  }
}
@media (min-width:47.99875em) {
  .form-consult .form__btn {
    max-width: 246px
  }
  .menu__list {
    display: flex;
    align-items: center;
    gap: 18px
  }
  .menu__link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--acent-color);
    transition: width .5s
  }
  .menu__link:hover {
    color: var(--acent-color)
  }
  .menu__link:hover::before {
    width: 100%
  }
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }
  .footer__navigation-list {
    display: flex;
    gap: 18px
  }
  .hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px
  }
  .offer-hero {
    max-width: 500px
  }
  .services__text {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px
  }
  .services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px
  }
  .item-services {
    border-radius: 20px;
    flex: 0 1 calc(50% - 10px)
  }
  .item-services__img {
    border-radius: 20px;
    margin-bottom: 30px
  }
  .item-services__img img {
    border-radius: 20px
  }
  .recovery__inner {
    display: flex;
    justify-content: space-between;
    min-height: 380px
  }
  .recovery__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  .recovery__column.column-left {
    justify-content: flex-end;
    padding-bottom: 50px
  }
  .recovery__column.column-center {
    justify-content: center;
    margin-left: -65px
  }
  .recovery__column.column-right {
    margin-left: -50px
  }
  .team__slide {
    display: flex;
    border-radius: 20px
  }
  .team__foto {
    flex-shrink: 0;
    width: 50%;
    max-width: 505px
  }
  .team__foto img {
    border-radius: 20px 0 0 20px
  }
  .team__info {
    border-radius: 0 20px 20px 0;
    padding: 60px;
    width: 100%
  }
  .team__controls {
    position: absolute;
    left: calc(50% + 60px);
    bottom: 20px
  }
  .team__control-next svg,
  .team__control-prev svg {
    fill: var(--acent-color)
  }
  .team__control-next,
  .team__control-prev {
    background-color: #fff
  }
  .results__controls {
    position: absolute;
    top: 0;
    right: 20px
  }
  .results__control-next svg,
  .results__control-prev svg {
    fill: var(--acent-color)
  }
  .results__control-next,
  .results__control-prev {
    background-color: #fff
  }
  .price-discont {
    display: flex;
    gap: 50px
  }
  .price-discont__group {
    flex: 0 1 50%
  }
  .price-bonus {
    display: flex;
    gap: 20px
  }
  .price-bonus__group {
    flex: 0 1 50%
  }
  .price-form {
    width: 100%;
    max-width: 355px;
    margin-left: auto;
    margin-right: auto
  }
}
@media (min-width:61.99875em) {
  body {
    font-size: var(--font-size-desktop)
  }
  .form__btn {
    font-size: 20px;
    margin-top: 10px
  }
  .form-consult {
    width: 100%;
    max-width: 550px
  }
  .form-message__title {
    font-size: 32px;
    line-height: 130%
  }
  .form-message__text {
    font-size: 24px;
    line-height: 130%
  }
  .title-sm {
    font-size: 32px
  }
  .main-policy {
    padding: 60px 0 120px 0
  }
  .main-policy h1 {
    font-size: 34px;
    line-height: 130%;
    margin-bottom: 40px
  }
  .main-policy h2 {
    font-size: 30px;
    line-height: 130%
  }
  .header {
    padding: 20px 60px
  }
  .footer {
    padding: 60px 20px
  }
  .footer__contacts {
    align-items: flex-start;
    gap: 6px;
    padding-top: 12px
  }
  .footer__policy {
    text-align: right
  }
  .hero {
    padding: 60px 20px;
    background-position: center;
    border-radius: 20px
  }
  .hero__title {
    font-size: 42px;
    margin-bottom: 40px
  }
  .offer-hero__block.block-first {
    padding: 70px;
    padding-top: 0
  }
  .offer-hero__block.block-form {
    padding: 40px 70px
  }
  .promo {
    margin-bottom: 120px
  }
  .promo__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px
  }
  .promo__title {
    font-size: 50px;
    line-height: 130%;
    margin-bottom: 0
  }
  .promo__text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    text-align: center
  }
  .promo__text::before {
    content: "";
    width: 43px;
    height: 43px;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3Csvg width=%2743%27 height=%2743%27 viewBox=%270 0 43 43%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M22 25C23.6569 25 25 23.6569 25 22C25 20.3431 23.6569 19 22 19C20.3431 19 19 20.3431 19 22C19 23.6569 20.3431 25 22 25Z%27 fill=%27white%27 /%3E%3Cpath d=%27M20 0H23L22.25 19H20.75L20 0Z%27 fill=%27white%27 /%3E%3Cpath d=%27M23 43H20L20.75 24H22.25L23 43Z%27 fill=%27white%27 /%3E%3Cpath d=%27M36.0024 5L38.1234 7.12132L24.2084 20.076L23.1484 19.0154L36.0024 5Z%27 fill=%27white%27 /%3E%3Cpath d=%27M7.99994 38.0018L5.87891 35.8805L19.7939 22.9258L20.8549 23.9864L7.99994 38.0018Z%27 fill=%27white%27 /%3E%3Cpath d=%27M43 20V23L24 22.25V20.75L43 20Z%27 fill=%27white%27 /%3E%3Cpath d=%27M0 23V20L19 20.75V22.25L0 23Z%27 fill=%27white%27 /%3E%3Cpath d=%27M37.6674 36.0016L35.5464 38.1229L22.6914 24.1075L23.7524 23.0469L37.6674 36.0016Z%27 fill=%27white%27 /%3E%3Cpath d=%27M5.66797 7.00023L7.78894 4.87891L20.644 18.8943L19.5829 19.9549L5.66797 7.00023Z%27 fill=%27white%27 /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
  }
  .promo__text::after {
    content: "";
    width: 43px;
    height: 43px;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3Csvg width=%2743%27 height=%2743%27 viewBox=%270 0 43 43%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M22 25C23.6569 25 25 23.6569 25 22C25 20.3431 23.6569 19 22 19C20.3431 19 19 20.3431 19 22C19 23.6569 20.3431 25 22 25Z%27 fill=%27white%27 /%3E%3Cpath d=%27M20 0H23L22.25 19H20.75L20 0Z%27 fill=%27white%27 /%3E%3Cpath d=%27M23 43H20L20.75 24H22.25L23 43Z%27 fill=%27white%27 /%3E%3Cpath d=%27M36.0024 5L38.1234 7.12132L24.2084 20.076L23.1484 19.0154L36.0024 5Z%27 fill=%27white%27 /%3E%3Cpath d=%27M7.99994 38.0018L5.87891 35.8805L19.7939 22.9258L20.8549 23.9864L7.99994 38.0018Z%27 fill=%27white%27 /%3E%3Cpath d=%27M43 20V23L24 22.25V20.75L43 20Z%27 fill=%27white%27 /%3E%3Cpath d=%27M0 23V20L19 20.75V22.25L0 23Z%27 fill=%27white%27 /%3E%3Cpath d=%27M37.6674 36.0016L35.5464 38.1229L22.6914 24.1075L23.7524 23.0469L37.6674 36.0016Z%27 fill=%27white%27 /%3E%3Cpath d=%27M5.66797 7.00023L7.78894 4.87891L20.644 18.8943L19.5829 19.9549L5.66797 7.00023Z%27 fill=%27white%27 /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
  }
  .services {
    margin-bottom: 120px
  }
  .services__text p:first-child {
    font-size: 24px;
    line-height: 130%;
    max-width: 615px
  }
  .services__text p:last-child {
    font-size: 16px;
    line-height: 130%;
    max-width: 560px
  }
  .item-services__icon {
    width: 70px;
    height: 70px;
    bottom: -40px;
    right: 40px
  }
  .item-services__body {
    padding: 0 20px 40px 20px
  }
  .item-services__title {
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 20px
  }
  .recovery {
    padding: 120px 40px 140px 40px;
    margin-bottom: 120px;
    border-radius: 20px
  }
  .recovery__title {
    margin-bottom: 50px
  }
  .recovery__inner {
    min-height: 520px;
    margin-top: -50px
  }
  .recovery__item {
    border-radius: 20px
  }
  .recovery__item img {
    border-radius: 20px
  }
  .training {
    margin-bottom: 120px
  }
  .training__video {
    padding-bottom: 38%;
    border-radius: 20px
  }
  .training__video iframe {
    border-radius: 20px
  }
  .problems {
    margin-bottom: 120px
  }
  .problems__title {
    margin-bottom: 60px
  }
  .item-problem {
    padding-bottom: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    gap: 45px
  }
  .item-problem__info {
    gap: 30px
  }
  .item-problem__icon {
    width: 70px;
    height: 70px
  }
  .item-problem__name {
    font-size: 22px;
    line-height: 110%
  }
  .item-problem__description p {
    margin-bottom: 40px
  }
  .item-problem__btn {
    font-size: 14px;
    line-height: 130%;
    padding: 13px 35px
  }
  .team {
    padding: 120px 0;
    margin-bottom: 120px
  }
  .team__title {
    margin-bottom: 60px
  }
  .team__name {
    font-size: 22px;
    line-height: 110%;
    margin-bottom: 25px
  }
  .team__age {
    margin-bottom: 75px
  }
  .team__controls {
    left: 565px;
    bottom: 64px
  }
  .team__control-next,
  .team__control-prev {
    width: 60px;
    height: 60px
  }
  .founder {
    margin-bottom: 120px
  }
  .founder__title {
    margin-bottom: 60px
  }
  .founder__video {
    padding-bottom: 47%;
    border-radius: 20px
  }
  .founder__video iframe {
    border-radius: 20px
  }
  .results {
    margin-bottom: 120px
  }
  .results__title {
    margin-bottom: 60px
  }
  .results__control-next,
  .results__control-prev {
    width: 60px;
    height: 60px
  }
  .item-results {
    border-radius: 20px;
    padding: 20px
  }
  .item-results__foto {
    margin-bottom: 30px
  }
  .item-results__foto img {
    border-radius: 20px
  }
  .item-results__result {
    margin-top: -30px
  }
  .item-results__result span {
    width: 170px;
    height: 50px;
    padding: 0;
    font-size: 24px;
    line-height: 50px
  }
  .item-results__description {
    padding: 0 20px 40px 20px
  }
  .consult {
    border-radius: 20px;
    padding: 60px 30px;
    margin-bottom: 120px
  }
  .consult__title {
    margin-bottom: 60px
  }
  .consult__inner {
    display: flex;
    gap: 35px
  }
  .consult__list {
    margin-bottom: 60px
  }
  .consult__text {
    font-size: 22px;
    line-height: 145%;
    max-width: 982px;
    margin-right: -100%
  }
  .consult__acent {
    min-width: 300px;
    border-radius: 20px
  }
  .consult__acent p {
    margin-bottom: 25px
  }
  .item-consult {
    gap: 30px
  }
  .item-consult__icon {
    width: 47px;
    height: 47px
  }
  .item-consult__title {
    font-size: 22px;
    line-height: 130%
  }
  .item-consult__text.mr {
    max-width: 693px;
    margin-right: -70%
  }
  .reviews__header {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 55px
  }
  .reviews__title {
    text-wrap: nowrap;
    margin-bottom: 25px
  }
  .reviews__text {
    max-width: 686px
  }
  .reviews__video {
    padding-bottom: 47%;
    border-radius: 20px
  }
  .reviews__video iframe {
    border-radius: 20px
  }
  .reviews__slider {
    width: 100%;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 160px 40px 120px 40px
  }
  .reviews__wrapper {
    margin-bottom: 100px
  }
  .reviews__slide {
    box-shadow: -4px 4px 30px 0 rgba(0,5,51,.2);
    border-radius: 20px;
    padding: 25px
  }
  .reviews-google {
    padding: 120px 0;
    margin-bottom: 120px
  }
  .reviews-google__title {
    margin-bottom: 60px
  }
  .reviews-google__list {
    gap: 30px
  }
  .reviews-google__item {
    flex: 0 1 calc(33.3% - 20px);
    border-radius: 20px
  }
  .reviews-google__item img {
    border-radius: 20px
  }
  .map__header {
    display: flex;
    gap: 30px;
    margin-bottom: 60px
  }
  .map__body {
    padding-bottom: 28%
  }
  .price-block {
    padding: 60px 100px;
    border-radius: 20px;
    margin-bottom: 40px
  }
  .price-block span {
    margin-bottom: 30px
  }
  .price-block__title {
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px
  }
  .price-block__title span {
    text-wrap: nowrap;
    margin-bottom: 0
  }
  .price-block__list li {
    padding: 30px 0;
    gap: 35px
  }
  .price-block__list.list-icon li::before {
    width: 25px;
    height: 25px
  }
  .price-discont {
    margin-bottom: 60px;
    margin-top: 100px
  }
  .price-discont__group span {
    font-size: 16px;
    margin-bottom: 40px
  }
  .price-discont__title {
    font-size: 32px;
    margin-bottom: 0
  }
  .price-discont__list li {
    gap: 40px
  }
  .price-img {
    margin-bottom: 40px
  }
  .price-img img {
    border-radius: 20px
  }
  .price-bonus {
    margin-bottom: 50px
  }
  .price-bonus__group {
    padding: 40px 80px
  }
  .price-bonus__title {
    font-size: 22px;
    line-height: 110%
  }
  .price-form {
    margin-bottom: 120px
  }
}
@media (min-width:61.99875em) and (min-width:86.25em) {
  .consult__inner {
    gap: 50px
  }
}
@media (min-width:86.25em) {
  .title {
    font-size: 70px
  }
  .title-sm {
    font-size: 50px;
    line-height: 135%
  }
  .header__logo {
    margin-right: 35px
  }
  .header__contacts span br {
    display: none
  }
  .menu__navigation {
    margin: 0 auto
  }
  .menu__list {
    gap: 45px
  }
  .footer__navigation-list {
    gap: 45px
  }
  .hero {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    padding: 134px 60px 60px 60px
  }
  .hero__text {
    padding-bottom: 20px
  }
  .hero__title {
    font-size: 70px
  }
  .hero__subtitle {
    font-size: 22px
  }
  .offer-hero__img {
    width: 177px;
    height: 177px;
    margin-top: -105px;
    margin-bottom: 45px
  }
  .offer-hero__group {
    margin-bottom: 37px
  }
  .offer-hero__title {
    font-size: 22px
  }
  .offer-hero__text {
    font-size: 16px
  }
  .promo {
    margin-left: 60px;
    margin-right: 60px;
    padding: 40px 60px
  }
  .services__list {
    gap: 30px
  }
  .item-services {
    flex: 0 1 calc(33.3% - 20px)
  }
  .recovery {
    margin-left: 60px;
    margin-right: 60px
  }
  .recovery__inner {
    min-height: 640px
  }
  .recovery__column.column-left {
    width: 100%;
    max-width: 462px
  }
  .recovery__column.column-center {
    width: 100%;
    max-width: 701px;
    margin-left: -165px;
    padding-bottom: 90px
  }
  .recovery__column.column-right {
    width: 100%;
    max-width: 462px;
    margin-left: -90px
  }
  .team__info {
    padding: 97px 60px 60px 135px
  }
  .team__info p {
    max-width: 424px
  }
  .team__controls {
    left: 640px
  }
  .consult {
    padding: 120px 0;
    margin-left: 60px;
    margin-right: 60px
  }
  .consult__acent {
    padding: 35px;
    min-width: 682px
  }
  .reviews-google__list {
    gap: 50px
  }
  .reviews-google__item {
    flex: 0 1 calc(33.3% - 33px)
  }
  .price-hero {
    padding: 50px 0;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px
  }
  .price-block,
  .price-bonus,
  .price-discont,
  .price-img {
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto
  }
}
@media (min-width:112.5em) {
  .header__logo {
    margin-right: 75px
  }
}
@media (max-width:86.25em) {
  .header__contacts a {
    font-size: 18px;
    line-height: 110%
  }
}
@media (max-width:61.99875em) {
  .header__logo {
    max-width: 90px
  }
  .header__contacts {
    align-items: center
  }
  .header__contacts span {
    font-size: 12px
  }
  .header__contacts a {
    font-size: 14px;
    line-height: 110%
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    padding: 100px 30px 30px 30px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: right .5s
  }
  .menu-open .menu {
    right: 0
  }
  .menu__link {
    font-size: 14px
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    flex-shrink: 0;
    z-index: 101
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #1a1919
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .footer__navigation-item:not(:last-child) {
    margin-bottom: 20px
  }
  .footer__social {
    justify-content: center;
    margin-bottom: 30px
  }
  .recovery__text {
    margin-bottom: 25px
  }
  .consult__acent {
    margin-bottom: 40px
  }
  .reviews__slide {
    width: 200px!important
  }
  .map__title {
    margin-bottom: 30px
  }
}
@media (max-width:61.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) {
  .menu__navigation {
    margin-bottom: 40px
  }
  .menu__item {
    text-align: center
  }
  .menu__item:not(:last-child) {
    margin-bottom: 22px
  }
  .menu__link {
    font-size: 18px
  }
  .footer__group {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .footer__contacts {
    margin-bottom: 30px
  }
  .footer__menu {
    margin-bottom: 40px
  }
  .hero__text {
    margin-bottom: 70px
  }
  .services__text p:first-child {
    margin-bottom: 15px
  }
  .item-services:not(:last-child) {
    margin-bottom: 20px
  }
  .recovery__column:not(:last-child) {
    margin-bottom: 20px
  }
  .team__wrapper {
    margin-bottom: 40px
  }
  .team__info::before {
    opacity: .5
  }
  .results__slider {
    margin-bottom: 30px
  }
  .consult::before {
    opacity: .5
  }
  .price-bonus__group:not(:last-child) {
    margin-bottom: 20px
  }
}
@media (max-width:29.99875em) {
  .menu {
    width: 100%
  }
  .reviews-google__item:not(:last-child) {
    margin-bottom: 20px
  }
  .price-block__list li {
    font-size: 12px
  }
}
@media (min-width:61.99875em) and (max-width:86.25em) {
  .header__social.social {
    display: none
  }
}
@media (min-width:47.99875em) and (max-width:61.99875em) {
  .footer__group {
    flex: 0 1 50%
  }
}